@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  background: #0a0a0a;
  color: #cccccc;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
    padding: 0 2rem;
}

html {
  scroll-behavior: smooth;
}
section {
  scroll-margin-top: 6rem;
}

#about {
  scroll-margin-top: 0rem; /* smaller number = scrolls further up / closer to the true top */
}

